---
description: >-
  Easy onboarding only allows you to delay verifying your seed phrase. Verifying
  your seed phrase is crucial for recovering your funds if you ever lose your
  password or need to reformat your computer.
---

# Seed Verification

If you skip the seed verification process, your web wallet will give you pop-up reminders to verify your wallet. You can close these pop-ups, but once your wallet balance exceeds 100 Beams, the notification will stay open until you secure your seed phrase.

## Full View

### Pop-up Window 'Secure your Seed'

Select “secure your phrase” to start the seed verification process.

![](../.gitbook/assets/0115.png)

### Enter Password

You will receive a prompt to asking you to confirm your wallet password before moving to the next step of the seed verification process.

![](../.gitbook/assets/0213.png)

### Record your Seed Phrase

Record your seed phrase (pen and paper recommended), make multiple copies and store them somewhere safe. Your seed phrase is for your eyes only. Never share your seed phrase with anyone!

![](<../.gitbook/assets/Screen Shot 2021-05-31 at 6.16.03 PM.png>)

### Verify Seed Phrase

Verify your seed phrase.

![](<../.gitbook/assets/Screen Shot 2021-06-01 at 4.17.23 PM.png>)

### Complete Verification

Enter six randomly selected words of your seed phrase to complete the verification (and never see this pop-up window again).

![](<../.gitbook/assets/Screen Shot 2021-06-01 at 4.21.25 PM.png>)

## Extension view:

### From the pop-window up:

Select “Secure your phrase” to begin

![](../.gitbook/assets/0116.png)

### Enter Password:

Enter your web wallet password to continue verifying your seed phrase.

![](../.gitbook/assets/0214.png)

### Verify Seed Phrase

Record your seed phrase (pen and paper recommended), make multiple copies and keep it safe. Your seed phrase is not connected to your email address or phone number. Losing your seed phrase could result in you losing access to your funds.

![](<../.gitbook/assets/Screen Shot 2021-06-01 at 4.28.57 PM.png>)

### Record your Seed Phrase

Double-check your spelling before storing your seed phrase in a secure location. Never share your seed phrase with anyone!

![](../.gitbook/assets/0411.png)

### Complete Verification

Enter six randomly selected words of your seed phrase to complete the verification process.

![](<../.gitbook/assets/Screen Shot 2021-06-01 at 4.32.32 PM.png>)
